<a href="https://colab.research.google.com/github/sumitraj02/Assignment_BTech2026_-2201920130178--5feb/blob/main/lab1feb18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = sns.load_dataset("iris")
print("Dataset loaded successfully.")
print(df.head())
print("Dataset shape (row,columns): ",df.shape)

Dataset loaded successfully.
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
Dataset shape (row,columns):  (150, 5)

In [4]:
df.to_csv("iris_data.csv",index=False)
df.to_csv("iris_data.txt",index=False)
df.to_csv("iris_data.xls",index=False)
print("Dataset is saved as iris.csv file")
print("Dataset is saved as iris.txtfile")
print("Dataset is saved as iris.xls file")

Dataset is saved as iris.csv file
Dataset is saved as iris.txtfile
Dataset is saved as iris.xls file

In [5]:
import pandas as pd
file_path="/content/iris_data.csv"
df=pd.read_csv(file_path)
print("CSV  file imported successfully!")
print(df.head(10))

CSV  file imported successfully!
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [6]:
print(" let's  perform numerical operation on a column from this dataset.")
numeric_columns=df.select_dtypes(include=[np.number]).columns.tolist()
print("Available numeric columns: ",numeric_columns)

 let's  perform numerical operation on a column from this dataset.
Available numeric columns:  ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [8]:
columns_name=input("Enter the columns name you want to analyse: ")
data=df[columns_name].values

Enter the columns name you want to analyse: petal_length

In [ ]:
print(" Numerical operation results :")
print(f"Maximum: {np.max(data)}")
print(f"Minimum: {np.min(data)}")
print(f"sum: {np.sum(data)}")
print(f"Average: {np.mean(data)}")
print(f"Square root of first 5 element : {np.sqrt(data[-5:])}")
print(f"Rounded values : {np.round(data[:5])}")

 Numerical operation results :
Maximum: 7.9
Minimum: 4.3
sum: 876.5
Average: 5.843333333333334
Square root of first 5 element : [2.58843582 2.50998008 2.54950976 2.48997992 2.42899156]
Rounded values : [5. 5. 5. 5. 5.]

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns

df = sns.load_dataset("titanic")

print("Dataset loaded successfully.")
print(df.head())
print("Dataset shape (row,columns): ",df.shape)

Dataset loaded successfully.
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Dataset shape (row,columns):  (891, 15)

In [10]:
print(" missing values indataset; ")
print(df.isnull().sum())

 missing values indataset;
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [11]:
df_cleaned=df.dropna()

print("After remving missing values :")
print(df_cleaned.isnull().sum())

After remving missing values :
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [12]:
df['age']=df['age'].fillna(df['age'].mean())
df['embark_town']=df['embark_town'].fillna(df['embark_town'].mode()[0])
#printf("After filling missing values: ")
print(df.isnull().sum())

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      0
alive            0
alone            0
dtype: int64

In [13]:
from sklearn.preprocessing import MinMaxScaler  # Correct spelling

nums_cols = ['age', 'fare']  # Make sure column names are in a list

scaler = MinMaxScaler()
df[nums_cols] = scaler.fit_transform(df[nums_cols])

print("After minmax normaliztion:")
print(df.head())

After minmax normaliztion:
   survived  pclass     sex       age  sibsp  parch      fare embarked  class  \
0         0       3    male  0.271174      1      0  0.014151        S  Third
1         1       1  female  0.472229      1      0  0.139136        C  First
2         1       3  female  0.321438      0      0  0.015469        S  Third
3         1       1  female  0.434531      1      0  0.103644        S  First
4         0       3    male  0.434531      0      0  0.015713        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [14]:
mean_age=df['age'].mean()
print(f"Mean age: { mean_age}")

median_age=df['age'].median()
print(f"Median age: {median_age}")

mode_age=df['age'].mode()
print(f"Mode age: {mode_age}")

std_age=df['age'].std()
print(f" std age:{ std_age}")

Mean age: 0.3679205534940792
Median age: 0.36792055349407915
Mode age: 0    0.367921
Name: age, dtype: float64
 std age:0.16338295081682433